@model IEnumerable<EmpPostRepository.EmpPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppliedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppliedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStatus)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            @Html.ActionLink("Edit", "Edit", new { PostId = item.PostId, EmpId = item.EmpId /* PostId=item.PostId */ }) |
            @Html.ActionLink("Details", "Details", new { EmpId = item.EmpId, PostId = item.PostId /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { PostId = item.PostId, EmpId=item.EmpId/* id=item.PrimaryKey */ })

        </td>
    </tr>
}

</table>
